loki:
  auth_enabled: false
  storage:
    type: filesystem
  object_store:
    type: s3
    s3:
      bucketnames: loki
      endpoint: minio.minio.svc.cluster.local:443
      access_key_id: minio
      secret_access_key: minio123
      insecure: true
