deploymentMode: SingleBinary
loki:
  auth_enabled: false
  podSecurityContext:
    fsGroup: 0
    runAsGroup: 0
    runAsNonRoot: false
    runAsUser: 0
  containerSecurityContext:
    readOnlyRootFilesystem: false
  storage:
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    type: s3
    s3:
      endpoint: minio.minio.svc.cluster.local:80
      access_key_id: minio
      secret_access_key: minio123
      insecure: true
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h
singleBinary:
  replicas: 1
  persistence:
    enabled: false
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
