expose:
  type: nodePort
  tls:
    enabled: true
    auto:
      # The common name used to generate the certificate, it's necessary
      # when the type isn't "ingress"
      commonName: "harbor.staging.local"
  nodePort:
    name: harbor
    ports:
      http:
        port: 80
        nodePort: 30080
      https:
        port: 443
        nodePort: 30443
    annotations: {}
    labels: {}    
  clusterIP:
    name: core-harbor-domain
    staticClusterIP: ""
    ports:
      httpPort: 80
      httpsPort: 443
    annotations: {}
    labels: {}

# The external URL for Harbor core service. It is used to
# 1) populate the docker/helm commands showed on portal
# 2) populate the token service URL returned to docker client
#
# Format: protocol://domain[:port]. Usually:
# 2) if "expose.type" is "clusterIP", the "domain" should be
# the value of "expose.clusterIP.name"
#
# If Harbor is deployed behind the proxy, set it as the URL of proxy
externalURL: https://harbor.staging.local:44302

persistence:
  enabled: true
  # Setting it to "keep" to avoid removing PVCs during a helm delete
  # operation. Leaving it empty will delete PVCs after the chart deleted
  # (this does not apply for PVCs that are created for internal database
  # and redis components, i.e. they are never deleted automatically)
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      existingClaim: "harbor-registry-pvc"
    jobservice:
      jobLog:
        existingClaim: ""
        storageClass: "standard"
        subPath: ""
        accessMode: ReadWriteOnce
        size: 1Gi
        annotations: {}
    database:
      existingClaim: ""
    redis:
      existingClaim: ""
    trivy:
      existingClaim: ""
  # Define which storage backend is used for registry to store
  # images and charts. Refer to
  # https://github.com/distribution/distribution/blob/release/2.8/docs/configuration.md#storage
  # for the detail.
  imageChartStorage:
    # Specify whether to disable `redirect` for images and chart storage, for
    # backends which not supported it (such as using minio for `s3` storage type), please disable
    # it. To disable redirects, simply set `disableredirect` to `true` instead.
    # Refer to
    # https://github.com/distribution/distribution/blob/release/2.8/docs/configuration.md#redirect
    # for the detail.
    disableredirect: false
    # Specify the "caBundleSecretName" if the storage service uses a self-signed certificate.
    # The secret must contain keys named "ca.crt" which will be injected into the trust store
    # of registry's containers.
    # caBundleSecretName:

    # Specify the type of storage: "filesystem", "azure", "gcs", "s3", "swift",
    # "oss" and fill the information needed in the corresponding section. The type
    # must be "filesystem" if you want to use persistent volumes for registry
    type: filesystem
    filesystem:
      rootdirectory: /mnt/data/harbor-registry
      #maxthreads: 100

# The initial password of Harbor admin. Change it from portal after launching Harbor
# or give an existing secret for it
# key in secret is given via (default to HARBOR_ADMIN_PASSWORD)
existingSecretAdminPassword: "harbor-secret"
existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD

internalTLS:
  enabled: false

ipFamily:
  # ipv6Enabled set to true if ipv6 is enabled in cluster, currently it affected the nginx related component
  ipv6:
    enabled: false
  # ipv4Enabled set to true if ipv4 is enabled in cluster, currently it affected the nginx related component
  ipv4:
    enabled: true

imagePullPolicy: IfNotPresent

# Use this set to assign a list of default pullSecrets
imagePullSecrets:
#  - name: docker-registry-secret
#  - name: internal-registry-secret

# The update strategy for deployments with persistent volumes(jobservice, registry): "RollingUpdate" or "Recreate"
# Set it as "Recreate" when "RWM" for volumes isn't supported
updateStrategy:
  type: RollingUpdate

# debug, info, warning, error or fatal
logLevel: info

# The name of the secret which contains key named "ca.crt". Setting this enables the
# download link on portal to download the CA certificate when the certificate isn't
# generated automatically
caSecretName: ""

# The secret key used for encryption. Must be a string of 16 chars.
# If using existingSecretSecretKey, the key must be secretKey
existingSecretSecretKey: "harbor-secret"

registry:
  secret: ""
  existingSecret: "harbor-secret"
  existingSecretKey: REGISTRY_HTTP_SECRET
  credentials:
    existingSecret: "harbor-secret"
  initContainers:
    - name: init-registry
      image: busybox:1.35.0-uclibc
      command: [ 'sh', '-c', "chown 10000:10000 /mnt/data/harbor-registry" ]
      securityContext:
        runAsUser: 0
        runAsGroup: 0
      volumeMounts:
        - name: registry-data
          mountPath: /mnt/data/harbor-registry

core:
  secret: ""
  existingSecret: "harbor-secret"
  existingSecretKey: secret
  xsrfKey: ""
  existingXsrfSecret: "harbor-secret"
  existingXsrfSecretKey: CSRF_KEY

jobservice:
  secret: ""
  existingSecret: "harbor-secret"
  existingSecretKey: JOBSERVICE_SECRET

# The proxy settings for updating trivy vulnerabilities from the Internet and replicating
# artifacts from/to the registries that cannot be reached directly
proxy:
  httpProxy:
  httpsProxy:
  noProxy: 127.0.0.1,localhost,.local,.internal
  components:
    - core
    - jobservice
    - trivy

enableMigrateHelmHook: false

metrics:
  enabled: false
  serviceMonitor:
    enabled: false

trace:
  enabled: false

cache:
  enabled: false

trivy:
  enabled: false

database:
  type: external
  external:
    host: "harbor-pg-rw"  # CloudNativePG creates {cluster-name}-rw service
    port: "5432"
    username: "user_harbor"
    password: ""
    coreDatabase: "registry"
    existingSecret: "harbor-pg-app"  # CloudNativePG creates this secret automatically
    sslmode: "disable"

redis:
  type: external
  external:
    addr: "harbor-redis.harbor.svc.cluster.local:6379"  # Redis Operator creates {redis-name} service
    # username field can be an empty string, and it will be authenticated against the default user
    username: ""
    password: ""
    # If using existingSecret, the key must be REDIS_PASSWORD
    existingSecret: ""