replicaCount: 1

image:
  imageName: nvcr.io/nvidia/tritonserver:25.03-py3
  pullPolicy: IfNotPresent
  modelRepositoryPath: s3://minio-http.minio.svc.cluster.local:80/triton-model-repo
  numGpus: 1

service:
  type: ClusterIP

secret:
  region: us-east-1
  id: minio
  key: minio123
